.button {
   /* background-color: var(--color-violet);
   padding: 7px;
   border-radius: 2px;
   border: 1px solid #fff;
   color: #fff;
   font-weight: 700;
   min-width: 120px;
   cursor: pointer; */
}
